h1 {

font-family: "Arial";
size:18
text-align: center;   /* centraliza texto */
}
table {
width:50%;
height: auto;
margin-left:5%;
margin-right:45%;
border-collapse: collapse;
border: 1px solid black;
}

th, td {
border: 1px solid black;
border-collapse: collapse;5
}

th {
text-align: center;
}
td {
height: 50px;
vertical-align: bottom;
}
p{
      /* cor do texto */
font-family: "Arial";
text-align: center;   /* centraliza texto */
}

img {
border: 4px solid #6aa84f; /* borda azul sólida */

  margin-right: 35%;
  margin-top: 5%;
  margin-bottom: 5%;

}
body{
 margin-top: 5%;
 background-image: url(imagens/videira.png);
 background-repeat: no-repeat;

}
